h1 {
    font-size: 100px;
    color: black;
    text-decoration: underline;
    text-align: center;
}
label {
    float: left;
}
.plotresize{
    width: 100%;
    height:100%;
  }
.grid-container {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    grid-template-rows: 450px 450px;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 840px;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-container3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-container4 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 450px 450px;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  .grid-item2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    font-size: 40px;
    text-align: center;
  }
  .grid-item3 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 40px;
    font-size: 20px;
    text-align: left;
  }
  .grid-item4 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    font-size: 40px;
    text-align: center;
  }
  .slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    text-align: right;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  .buttonsize {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }